/* GENERAL */
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  
}

/* BODY */
body{
  background-image: url(../images/fractal_blue_background.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body h1{
  color: #e2bd14;
  padding: 10px;
}

/* HEADER */
.header {
  /*min-height: 75vh;*/
  width: 100%;
}

main{
  text-align: center;
  vertical-align: top;
  min-height: 90vh;
}

/* HOMEPAGE TITLE */
.homepage_title{
  width: 90%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}

.homepage_title h1{
  color:#e2bd14;
  text-shadow: 2px 2px 5px #6c0101;
  text-decoration: none;
  font-size: 400%;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.homepage_title p{
  color:#fff;
  font-size: 100%;
  margin-bottom: 10px;
}

/* BUTTON */
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #e2bd14;
  padding: 12px 34px;
  font-size: 20px;
  border: 1px solid #e2bd14;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
  box-shadow: 0px 0px 10px 2px #e2bd14; /* Add a shadow: left, down, intensity, dimension  */
  border-radius: 5px; /* Round the corners */
  margin-top: 20px;
}

.hero-btn a{
  padding: 20px 20px;
}

.hero-btn:hover{
  border: 1px solid #6c0101;
  background: #6c0101;
  transition: 0.5s;
}

/* ABOUT */
.about{
  text-align: center;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  margin-top: 20px;
}

.about h1{
  color: #e2bd14;
}

/* FOLLOW */
.follow{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  padding: 30px;
}

.follow img{
  padding: 5px;
}


/* FOOTER */
footer{
  text-align: center;
  padding: 3px;
}

/*p*/
p{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
}

/*LANGUAGE CHOICE*/
.language{
  margin-left: 20px;
  color: #e2bd14;
  font-size: 20px;
  text-align: left;
  position: relative;
  margin-left: 10px;
}


.newsletter{
  flex: 1;
  text-align: right;
  color: #e2bd14;
  }

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}





